.blob {
  border-radius: 50%;
  transform: scale(1);
}

.animate-pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(226, 18, 18, 0.705);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 16px rgba(226, 18, 18, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(226, 18, 18, 0);
  }
}
